<section class="hero">

    <div class="container">
        <div class="row">
            <div class=" left-side col-md-6">



            </div>
            <div class="  right-side col-md-6">

                <h1>मुझे पार्टी चाहिए</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hejwhifrro lfmklwepkp ;?</p>

                <div class="main-btn">
                    <span class="login-btn"><a href="">Order Now</a></span>
                </div>

            </div>
        </div>


    </div>
</section>
<hr>


<!-- card 2222-->

<section class="extradiv">

    <div class="container">
        <div class="row">

            <div class=" extra-div  col-lg-4 col-md-4 col-sm-6  col-12   ">

                <div class="card" style="width: 100%;">
                    <img src="/img/pizza10.jpg" alt="">
                    <div class="card-body ">
                        <div class="text-center">
                            <h5 class="card-title">
                                pizza.name
                            </h5>
                            <p>
                                pizza.size
                            </p>
                        </div>
                        <div class="pricing">
                            <span class="pricing-left">
                                Rs : pizza.price
                            </span>
                            <button data-pizza="" class=" add-cart">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>

                    </div>
                </div>


            </div>
            <div class=" extra-div  col-lg-4 col-md-4 col-sm-6  col-12   ">

                <div class="card" style="width: 100%;">
                    <img src="/img/pizza10.jpg" alt="">
                    <div class="card-body ">
                        <div class="text-center">
                            <h5 class="card-title">
                                pizza.name
                            </h5>
                            <p>
                                pizza.size
                            </p>
                        </div>
                        <div class="pricing">
                            <span class="pricing-left">
                                Rs : pizza.price
                            </span>
                            <button data-pizza="" class=" add-cart">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>

                    </div>
                </div>


            </div>
            <div class=" extra-div  col-lg-4 col-md-4 col-sm-6  col-12   ">

                <div class="card" style="width: 100%;">
                    <img src="/img/pizza10.jpg" alt="">
                    <div class="card-body ">
                        <div class="text-center">
                            <h5 class="card-title">
                                pizza.name
                            </h5>
                            <p>
                                pizza.size
                            </p>
                        </div>
                        <div class="pricing">
                            <span class="pricing-left">
                                Rs : pizza.price
                            </span>
                            <button data-pizza="" class=" add-cart">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>

                    </div>
                </div>


            </div>





        </div>


</section>