<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">






</head>

<body>

    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light ">

        <a class="navbar-brand font-weight-bold" href="/">BuRGur</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">MENU</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">LOGIN</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register">SIGNUP</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/cart">ORDER</a>
                </li>


                <div class="shoping-cart">
                    <span id="cartCounter">

                    </span>
                    <span class="cart_image"><a href="/cart"><img src="img/pizza9.jpg" height="20px" width="20px"
                                class="" alt=""></a></span>
                </div>

            </ul>

        </div>

    </nav>

    <%- body %>

        <footer>
            <div class="footer-content">
                <h3>MohBhanG-Restorent</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis veniam praesentium nemo ipsa
                    asperiores eum deserunt dolores, repudiandae cum assumenda.</p>
                <ul class="socials">
                    <li><a href="https://www.facebook.com/rituraj.chaurasia.50" target="_blank"><i
                                class="fa fa-facebook"></i></a></li>

                    <li><a href="https://www.instagram.com/rituraj_6171" target="_blank"><i
                                class="fa fa-instagram"></i></a></li>

                    <li><a href="https://www.linkedin.com/in/rituraj-kumar-a97812201" target="_blank"><i
                                class="fa fa-linkedin"></i></a></li>

                    <li><a href="https://www.twitter.com/@Rituraj44255865" target="_blank"><i
                                class="fa fa-twitter"></i></a></li>

                    <li><a href="https://wa.me/916200964002" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
                <div class="footer-bottom d-flex">
                    <p>! Welcome !</p>
                    <p>copyright &copy;2021 .MohBhanG. designed by : <span> RITURAJ</span></p>
                    <p>! WelCome !</p>
                </div>
            </div>
        </footer>



        <script src="/js/app.js"></script>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>