<hr>
<section class="container" id="cartid">

    <div class="order  mx-auto d-flex">
        <div class="summary mt-2">
            <img src="/img/pizza9.jpg" height="40px" width="40px" alt="">
            <h2 class="ml-2 ">Order Cart</h2>
        </div>
    </div>
    <hr>
    <div class="summary-head">


        <div class="pizza_list ">

            <!-- object ko array me convert kiya -->

            <div class="mt-2 pizzabar">
                <div class="pizza-image">
                    <img src="/img/pizz2.jpg" height="100px" width="100px" alt="">
                    <div class="ml-2">
                        <div class="my-2">
                            mohan
                        </div>


                        <div>
                            large
                        </div>


                    </div>
                </div>

                <span class="pizza-size">
                    2pcs
                </span>
                <span class="pizza-price">Rs 300</span>
            </div>

        </div>
    </div>
    <hr>
    <div class="right">
        <div>
            <span>Total Amount :</span>
            <span class="font-weight-bold text-danger">Rs 800</span>
        </div>

        <div>
            <form action="/orders" method="POST">
                <div class="mt-3">
                    <input type="text" name="address" id="" placeholder="Address...">
                </div>

                <div class="mt-2">
                    <input type="number" name="phone" id="" placeholder="Mobile No...">
                </div>
                <button type="submit" class="mt-2" id="rzp-button1">Order Now</button>
            </form>


            <div class="login-btn1">
                <a href="/login">Login To Continue</a>
            </div>


        </div>

    </div>







    <div class="container text-center mx-auto">
        <h3>Empty Cart</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
        <img src="/img/empty-cart.jpg" width="50%" height="400px" alt="">

        <div class="go_back">
            <a href="/">Go Back</a>
        </div>
    </div>




</section>
<hr>