<section class="orders">
  <div class="container">

    <h2 class="text-danger">All Orders</h2>



  </div>

<table class="table table-bordered">
  <thead>
    <tr>
     
      <th scope="col">Orders</th>
      <th scope="col">Address</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>

    
    <tr>
     
      <td>23erfkbjoitkf</td>
      <td>bagar</td>
      <td>4:35 PM</td>
    </tr>
   
  
<tr>
  
</tr>
  
  </body>
</table>

</section>